.footer{
    margin-inline: 20%;
    margin-top: 5%;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    list-style: none;
}

.footer li{
    border: 1px solid black;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
    font-size:14px;
}
