.gameHeading{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    font-size: 2vw;
    margin-inline: 20%;
    width: 60%;
    margin-top: 5%;
    border: 1px solid black;
}

.gameHeading div{
    width: auto;
    text-align: center;
    padding-left: 10px;
    border: 2px solid black;
}
