.mainHeading{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    line-height: 0;
    margin-inline: 20%;
    padding-bottom: 10px;
    font-size: 2.5vw;
}
.left{
    /* padding-left: 35%; */
    text-align: right;
}
.right{
    padding-top: 15px;
    text-align: right;
}

.musicButton{
    background: none;
    border: none;
    font-size:2.5vw;
}

.switch{
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4S;
    transition: .4s;
}

.slider:before{
    position: absolute;
    cursor: pointer;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #b34444;
    -webkit-transition: .4S;
    transition: .4s;
}

input:checked + .slider{
    background-color: 0 0 1px #2196F3;
}

input:focus + .slider{
    background-color: 0 0 1px #2196F3;
}

input:checked + .slider:before{
    background-color: 0 0 1px #2196F3;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}