.mainHeading{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    line-height: 0;
    margin-inline: 20%;
    padding-top: 40px;
    font-size: 1.8vw;
}
.left{
    /* padding-left: 35%; */
    text-align: right;
    
}
.right{
    padding-top: 15px;
    text-align: right;
    width: 100%;
}

.musicButton{
    /* background: none; */
    border: none;
    font-size:2vw;
}

